@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

body {
    font-family: "Space Mono", monospace;
    color: black;
    text-rendering: optimizeLegibility;
    font-optical-sizing: auto;
    letter-spacing: -0.04rem;
    font-size: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    line-height: 1.2;
}

p, ul {
    font-size: 1.5em;
    line-height: 1.3;
}

p {
    margin: 1em 0 0 0;
}

ul {
    margin: 0;
}

a {
    color: black;
    text-decoration-thickness: 0.1em;
    text-decoration-color: black;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-underline-offset: 0.1em;

    transition:
        color 250ms,
        text-decoration-color 250ms;
}

a:hover, a:focus {
    color: cornflowerblue;
    text-decoration-color: cornflowerblue;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#card {
    width: 100%;
    max-width: 550px;
    margin: 100px;
    padding: 50px;
    border: 4px solid black;
    border-radius: 30px;
    box-shadow: 6px 6px 0 black;
}

#contacts {
    display: flex;
    align-items: baseline;
    gap: 0.7em;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 0.7em;
}

.contact-list li:first-child::before {
    content: "→";
    margin-right: 0.7em;
}

@media screen and (max-width: 860px) {
    h1 {
        font-size: 1.6em;
    }

    p, ul {
        font-size: 1.1em;
    }

    #card {
        max-width: 380px;
        padding: 40px;
        margin: 80px;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 1.2em;
    }

    p, ul {
        font-size: 1em;
    }

    p {
        margin: 1.5em 0 0 0;
    }

    #card {
        max-width: 280px;
        padding: 30px;
        margin: 30px;
        border: 3px solid black;
        box-shadow: 5px 5px 0 black;
        border-radius: 25px;
    }

    #contacts {
        display: block;
    }

    .contact-list {
        display: block;
    }

    .contact-list li {
        position: relative;
        padding-left: 1.1em;
    }

    .contact-list li::before {
        content: "→";
        position: absolute;
        left: 0.1em;
    }
}
